{%- if site.gitalk_enable -%}
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/gitalk.css?t={{buildAt}}">
  <script src="{{site.baseurl}}/static/js/gitalk.min.js?t={{buildAt}}"></script>
  <div id="gitalk-container"></div>
  <script type="text/javascript">
    const gitalk = new Gitalk({
      clientID: "{{site.gitalk_client_id}}",
      clientSecret: "{{site.gitalk_client_secret}}",
      repo: "{{site.gitalk_repo}}",
      owner: "{{site.gitalk_owner}}",
      admin: ["{{site.gitalk_admin}}"],
      id: location.pathname,
      distractionFreeMode: false
    });
    gitalk.render('gitalk-container');
  </script>
{%- endif -%}
