@charset "UTF-8";

body::before {
    background: url(/static/img/kr/common/bg-50th-sp@3x.png) no-repeat center;
    background-size: cover;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
@media all and (min-width: 1024px) {
	body::before {
		background-image: url(/static/img/kr/common/bg-50th-pc.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

/* ====================
 container
==================== */

.l-container--column2 {
    margin: 30px auto 0;
    max-width: 100%;
}

/* ====================
 Collection
==================== */
.p-group--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.p-group--header+* {
    margin-top: 32px;
}
.p-group--header>* {
    margin-top: 0;
}
.c-heading.is-orange {
    background-image: url(/static/img/kr/common/title-orange-sp.svg);
}
.c-heading {
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 3px 0px rgb(38 33 41 / 16%);
    background-repeat: no-repeat;
    background-position: center;
}
.c-heading--sub::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/static/img/kr/common/heading-bg-pc.svg);
    background-position: center;
}
.c-heading--sub.is-orange {
    color: #eb740e;
}
.c-heading--sub {
    position: relative;
    width: 100%;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
}
.c-heading--sub span {
    position: relative;
    z-index: 2;
}
[class*="Collection__Card"]:not([class*="Collection__Card__"]) {
    position: relative;
    width: 211px;
    margin-bottom: 30px;
}
.Collection__Card__ImgGroup {
    position: relative;
    width: 211px;
    height: 285px;
    /* margin-bottom: 10px; */
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 10px 15px #0000004D;
}
.Collection__Card__ImgGroup a{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.Collection__Card__Img {
    display: block;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    width: 100%;
    height: 100%;
}
.Collection__Card__ImgGroup__Logo {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate( -50%, -50%);
    margin: 0 auto;
}
.Collection__Card__ImgGroup__Logo__Img {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
}
.Collection__Card__Button {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.Collection__Card__Ttl {
    line-height: 1.4;
}
.Collection__Card__Year {
    display: block;
    font-size: 30px;
}
.Collection__Card__Name {
    display: block;
    font-size: 14px;
}

@media all and (min-width: 1024px) {
    .p-group--header>.c-heading {
        width: 480px;
    }
    .c-heading {
        font-size: 36px;
    }
    .c-heading.is-orange {
        background-image: url(/static/img/kr/common/title-orange-pc.svg);
    }
    .c-heading--sub {
	font-size:32px;
    }
}
@media screen and (max-width: 1295px) {
    [class*="Collection__Card"]:not([class*="Collection__Card__"]):nth-child(3n+1) {
        margin-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .Collection__Card__Number{
        font-size: 30px;
    }
    .Collection__Card__Ttl__RiderName {
        font-size: 12px;
    }
    [class*="Collection__Card"]:not([class*="Collection__Card__"]):not(:nth-child(4n-3)) {
        margin-left: 0;
    }
    .Collection{
        margin-right: 0;
    }
    .Collection__Card__Ttl {
        line-height: 1.3;
    }
    .Collection__Card__Button {
        margin-bottom: 10px;
    }
    [class*="Collection__Card"]:not([class*="Collection__Card__"]) {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 5px;
    }
    [class*="Collection__Card"]:not([class*="Collection__Card__"]):nth-child(2n) {
        margin-right: 0;
    }
    .Collection__Card__ImgGroup {
        margin-bottom: 10px;
        padding-bottom: 135%;
        width: 100%;
        height: auto;
    }
    .Collection__Card__Img{
        position: absolute;
    }
    .Collection__Card__ImgGroup__Logo {
        top: 50%;
        width: 100%;
    }
    .Collection__Card__ImgGroup__Logo__Img {
        width: 52px;
        height: 52px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .Collection__Card__Year {
        font-size: 24px;
    }

    .Collection__Card__Name {
        font-size: 12px;
    }
}

/* ====================
Heading
==================== */
.p-collection .c-heading--sub {
    margin-bottom: 30px;
}

/* ====================
 Collection__Card--heisei
==================== */

.Collection__Card--heisei h1 {
    white-space: nowrap;
}
@media screen and (max-width: 768px) {
    .Collection__Card--heisei {
        width: 100% !important;
        margin: 10px 0 10px;
    }
    .Collection__Card--heisei .Collection__Card__Ttl {
        display: none;
    }
    .Collection__Card--heisei .Collection__Card__ImgGroup {
        height: 72px;
    }
}

/* ====================
 hover
==================== */
.Collection__reiwa {
    counter-reset: count-reiwa 4;
}
.Collection__heisei {
    counter-reset: count-heisei 21;
}
.Collection__showa {
    counter-reset: count-showa 14;
}

/* ====================
Grid
==================== */

.p-collection__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .p-collection__grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width: 768px) {
    .p-collection__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 25px 0;
    }
}

/* ====================
Margin
==================== */
@media screen and (max-width: 768px) {
    .Collection__reiwa,
    .Collection__heisei{
        margin-bottom: 20px;
    }   
}

[class*="Collection__Card"] .Collection__Card__ImgGroup:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
}
[class*="Collection__Card"] .Collection__Card__ImgGroup:before {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    padding: 10px 0;
    left: 50%;
    top: 48%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: cover;
    opacity: 0;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 310px;
    font-weight: bold;
    white-space: nowrap;
    transform: translate(-50%, -50%) rotate(25deg);
    transform-origin: center;
    z-index: 1;
    pointer-events: none;
}

.Collection__reiwa .Collection__Card__ImgGroup:before {
    counter-increment: count-reiwa -1;
    content: counter(count-reiwa, decimal-leading-zero);
    color: rgba( 0, 191, 255, .6 );
}
.Collection__heisei .Collection__Card__ImgGroup:before {
    counter-increment: count-heisei -1;
    content: counter(count-heisei, decimal-leading-zero);
    color: rgba(168, 149, 21, 0.6);
}
.Collection__showa .Collection__Card__ImgGroup:before {
    counter-increment: count-showa -1;
    content: counter(count-showa, decimal-leading-zero);
    color: rgba(255, 0, 0, 0.6);
}

[class*="Collection__Card"][class*="--double"] .Collection__Card__ImgGroup:before {
    letter-spacing: 0.1em
}
[class*="Collection__Card"][class*="--kiva"] .Collection__Card__ImgGroup:before,
[class*="Collection__Card"][class*="--den-o"] .Collection__Card__ImgGroup:before,
[class*="Collection__Card"][class*="--kabuto"] .Collection__Card__ImgGroup:before,
[class*="Collection__Card"][class*="--hibiki"] .Collection__Card__ImgGroup:before,
[class*="Collection__Card"][class*="--brade"] .Collection__Card__ImgGroup:before,
[class*="Collection__Card"][class*="--555"] .Collection__Card__ImgGroup:before {
    font-size: 300px;
    left: 51%;
    top: 47%;
    letter-spacing: 0.03em;
}
[class*="Collection__Card"][class*="--ryuki"] .Collection__Card__ImgGroup:before,
[class*="Collection__Card"][class*="--agito"] .Collection__Card__ImgGroup:before {
    font-size: 300px;
    left: 51%;
    top: 47%;
    letter-spacing: -0.03em;
}
[class*="Collection__Card"][class*="--kuuga"] .Collection__Card__ImgGroup:before {
    font-size: 300px;
    left: 51%;
    top: 47%;
    letter-spacing: 0.01em;
}

/* hover */
@media screen and (min-width: 769px) {
    .Collection__Card__ImgGroup:hover {
        overflow: hidden;
    }
    [class*="Collection__Card"]:not([class*="--heisei"]) .Collection__Card__ImgGroup:hover:before,
    [class*="Collection__Card"]:not([class*="--heisei"]) .Collection__Card__ImgGroup:hover:after {
        opacity: 1;
    }
}
